*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* fonfo total */
body{
    background-color: rgb(255, 255, 255);
}
header {
    width: 100vw;
    height: 120px;
    background: #a7f765;
    display: flex;
    padding-top: 10px;    
}
nav{
    width: 100vw;
    height: 10px;
    background: #a7f765;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    z-index: 10px;
    transition: all 0.3s;    
}
nav ul {
    list-style: none;
    overflow: hidden;    
}
nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;    
}
nav ul li a 
{
  display: block; 
  padding: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
      
nav ul li:hover {
  background: #ec9b23;
}
#brand,
ul {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  
}
  
#brand {
    padding-left: 40px;
    
}
  
#logo {
    width:110px;
    height: 110px;
    background: #fff;
    border-radius:50%;
    cursor: pointer;
  
  }
#logo img
  {
    width: 110px;
    height: 110px;
    
  }
#option{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;     
}


  
li:hover {
    background-color: #a7f765; /* Green */
}
main .title{
    width: 100%;
    background-color: #a7f765;
    margin-top: 10px;
}
main h3{
    text-align: center;
}
main .Todos{
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
main .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 300ms;
    text-align: center;
    margin: 10px;
    border: 1px solid black;
}
main .card:hover{
    box-shadow: 0 8px 20px 10px rgba(0,0,0,0.2);

}
main .Todos .card img{
    width: 60%;
    height: 50%;
    padding: 5px;
}
main .Todos .card p{
   text-align: center;
}
main aside #fondo-ad{
    width: 100%;
    height: auto;
    background-color: blue;
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}